/* GENERAL INDEX STYLES */

.container {
  display: flex;
  flex-direction: row;
}

/* COMMENTS STYLES */

#comments {

  width: 40vw;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 1em;
}

.comments-items {
  color: rgb(22, 22, 35);
  background-color: rgb(167, 142, 1);
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1em;
}

.comment-subject,
.comment-message,
.comment-author {
  padding: 0.3em;
}

/* FORM STYLES */

#form {
  color: rgb(167, 142, 1);

  width: 60vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
}

#message {
  height: 20vh;
}

#submit-button {
  background-color: rgb(167, 142, 1);
  color: rgb(22, 22, 35);

  border-radius: 0.3em;

  width: 30vw;
  height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: red;
  visibility: hidden;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
