/* GENERAL FOOTER STYLES */

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100%;
}

.footer-container {
  background-color: rgb(10, 10, 10);
  color: rgb(245, 245, 245);

  height: 10vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  padding: 1em;
}

.footer-item{
  display: flex;
  flex-direction: column;
}

.footer-subitem {
  color: rgb(245, 245, 245);
}

.social-media-icon{
  height: 5vh;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
.footer-container{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .footer-item:has(.footer-subitem){
    display: none;
  }
  #social-media{
    display: block;
  }
  #reserved-rights{
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .footer-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 20vh;
  }

  .footer-item{
    padding: 1em;
  }

  .footer-item:has(.footer-subitem){
    display: none;
  }

  #social-media{
    display: block;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .footer-container {
    height: 10vh;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    text-align: center;
  
    padding: 1em;
  }

  .footer-item:has(.footer-subitem){
    display: block;
  }
}