/* HEADER STYLES */

header{
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100%;
}

.header-container {
  background-color: rgb(10, 10, 10);

  height: 5vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1em;
}

.header-item:hover {
  scale: 1.2;
  cursor: pointer;
}

.header-subitem {
  color: rgb(245, 245, 245);
}

#arcane-logo {
  height: 5vh;
}

#side-menu-opener-icon,
#home-button {
  color: rgb(245, 245, 245);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .header-item:has(.header-subitem){
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .header-item:has(.header-subitem){
    display: none;
  }

  .header-item:has(#arcane-logo){
    display: block;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .header-item:has(#side-menu-opener-icon) {
    display: none;
  }

  .header-item:has(.header-subitem){
    display: block;
  }

  .header-item:has(#arcane-logo){
    display: block;
  }
}

/* OPEN MENU SYLES */

#side-menu {
  border: solid rgb(245, 245, 245) 0.05em;
  background-color: rgb(10, 10, 10) ;
  color: rgb(245, 245, 245);

  height: 20vh;
  width: 30vw;

  top: 15vh;
  left: -31vw;

  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: left 1s;
}

#side-menu.side-menu-opened {
  left: 1em;
  top: 15vh;

  transition: left 1s;
}

.side-menu-item:hover {
  scale: 1.2;
  cursor: pointer;
}