/* GENERAL INDEX STYLES */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  height: 75vh;
}

/* FORM STYLES */

#log-in {
  color: rgb(245, 245, 245);

  width: 60vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
}

#submit-button {
  color: rgb(245, 245, 245);
  background-color: rgb(10, 10, 10);

  border: 0em;
  border-radius: 0.3em;

  width: 30vw;
  height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: red;
  visibility: hidden;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
